$body-bg: #FFF;
$contrast: #{var(--color)};
$border-color: rgba($contrast, .1);
$input-bg-color: rgba($contrast, .075);

:root {
  // Theme
  --kbs-color-contrast: var(--color);
  --kbs-color-primary: 27 27 204;

  --kbs-color-white: 255 255 255;
  --kbs-color-blue: 27 27 204;
  --kbs-color-red: 220 53 69;
  --kbs-color-green: 32 201 151;
  --kbs-color-pink: 232 62 140;
  --kbs-color-black: 0 0 0;
  --kbs-color-gray-200: 240 240 240;
  --kbs-color-gray-900: 34 34 34;

  // General
  --kbs-body-bg: #{$body-bg};
  --kbs-border-color: #{$border-color};
  --kbs-border-radius: .325rem;

  // Forms
  --kbs-input-bg: #{$contrast};

  --kbs-input-padding-x: .8rem;
  --kbs-input-ppading-y: .8rem;
  --kbs-input-ppading: var(--kbs-input-padding-x) var(--kbs-input-ppading-y);

  // Buttons
  --kbs-button-radius: .25rem
}

// Buttons