.choice {
	display: contents;
	position: relative;

	&__text {
		@apply items-stretch col-start-1 col-end-1 text-xl;
	}

	&__buttons {
		display: contents;
	}
}

.percentage-bar {
	height: 32px;
	grid-column-start: 1;
	grid-column-end: 4;
	background-color: color-mix(in srgb, currentColor 8%, transparent);

	@apply text-xs rounded overflow-hidden;
}

.filler {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	transition: width 0.3s ease-in-out;
	text-align: center;
	color: white;
	white-space: nowrap;

	@apply bg-blue rounded;
}
